@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

h1 {
    text-align: center;
    font-family: 'Tilt Neon', cursive;
}
